<!--/******************************************************
 * Description      : Visual Force Page for Mass Task Action
 * @author          : Malaka Silva
 * @since           : May 24, 2010  
 * Copyright 2010 ABSI. All rights reserved. 
 ******************************************************/-->
<apex:page id="pg_mass_task" controller="ABSI_MassTaskController" showHeader="true" sidebar="true"  tabStyle="Task">

    <apex:sectionHeader id="section_header" title="Task" subtitle="New Task"/>

    <apex:form id="frmSubmitMassTask">
            
        <apex:messages />
        
        <apex:pageBlock title="New Task" mode="Edit" id="field_section" rendered="{!showPage}">      
     
            <apex:pageBlockSection title="Task Information" id="section01" columns="2">
                <apex:inputField value="{!task.ownerid}" id="owner" rendered="{!NOT(assignToOwner)}"/> 
                <apex:pageblockSectionItem rendered="{!assignToOwner}">
                    <apex:outputLabel value="Assigned To"/>
                    <apex:inputtext disabled="true"/>
                </apex:pageblockSectionItem>
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Assign Task to Owner" title="Assign Task to Record Owner"/>
                    <apex:inputCheckbox value="{!assignToOwner}" title="Assign Task to Record Owner">
                        <apex:actionSupport action="{!assignToOwnerClick}" event="onchange" immediate="true"/>
                    </apex:inputCheckbox>
                </apex:pageblockSectionItem>
                <apex:inputField value="{!task.status}" required="true" />                 
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Related To:" />
                    <apex:outputPanel >
                        <div id='spanDisplayLabel' style='width:250px; height:30px; overflow-y:scroll;'>
                            <apex:dataTable value="{!tableDisplayNames}" var="tableDisplayName" >
                                <apex:column value="{!tableDisplayName}"/>
                            </apex:dataTable>                    
                        </div>
                    </apex:outputPanel>
                </apex:pageblocksectionItem>                
                <apex:inputField value="{!task.subject}" required="true" />  
                <apex:pageBlockSectionItem />             
                <apex:inputField value="{!task.activityDate}" />
                <apex:pageBlockSectionItem />
                <apex:inputField value="{!task.priority}" />
                <apex:pageBlockSectionItem />
                <apex:inputField value="{!task.priority}" />                                
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Additional Information" columns="1" id="section02">
                <apex:inputField value="{!task.description}" />
            </apex:pageBlockSection>

            <apex:inputCheckbox value="{!sendNotificationEmailCheckBox}" id="sendNotificationEmailCheckBox" /> Send Notification Email
        
            <apex:pageblockSection title="Reminder" id="reminder_section" columns="1">
                <apex:pageBlockSectionItem id="isRemSet">
                    <apex:outputLabel value="Reminder" for="task__IsReminderSet" />
                    <apex:pageBlockSectionItem id="reminder_section_1">
                        <apex:inputField id="task__IsReminderSet" value="{!task.IsReminderSet}" onclick="togglereminder(this.checked);" />
                        <apex:pageBlockSectionItem id="reminder_section_1">
                            <apex:inputField id="task__ListDate" value="{!contact.Birthdate}"/>
                            <apex:selectList id="task__ListTime" value="{!reminderTime}" size="1" styleclass="FormDataASmaller">
                                <apex:selectOptions id="reminder_time_options" value="{!selReminderOptions}" />
                            </apex:selectList>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem>
                
            </apex:pageblockSection>
            
            <apex:pageblockButtons id="blockButtons">
                <apex:commandButton value="Save" action="{!save}" id="btnSave" />
                <apex:commandButton value="Cancel" action="{!back}" immediate="true" id="btnCancel"/>
            </apex:pageblockButtons>
            
        </apex:pageBlock>
    </apex:form>
    <script type="text/javascript">
        function assignUser(){
            var objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:section01:owner');
            objCtr.disabled = true;
            objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:section01:owner_lkwgt');
            objCtr.disabled = true;            
        }
        function togglereminder(blnStatus){
            if(blnStatus){
                var objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:reminder_section:isRemSet:reminder_section_1:reminder_section_1:task__ListDate');
                objCtr.disabled = false;
                objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:reminder_section:isRemSet:reminder_section_1:reminder_section_1:task__ListTime');
                objCtr.disabled = false;                
            }else{
                var objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:reminder_section:isRemSet:reminder_section_1:reminder_section_1:task__ListDate');
                objCtr.disabled = true;   
                objCtr = document.getElementById('pg_mass_task:frmSubmitMassTask:field_section:reminder_section:isRemSet:reminder_section_1:reminder_section_1:task__ListTime');
                objCtr.disabled = true;                           
            }
        }
        togglereminder(false);
        
        function getFieldByID(strControlID){return document.getElementById(strControlID);}
        
        function adjustDisplayArea(){
            try{
                var objControlFake = getFieldByID('spanPlaceHolder') ;
                if (objControlFake.offsetParent) {
                    var objControl = getFieldByID('spanDisplayLabel') ;
                    objControl.style.height = '90px';
                    objControl.style.position = 'absolute';
                    objControl.style.left = objControlFake.offsetLeft + 'px';
                    objControl.style.top= objControlFake.offsetTop + 'px';
                }  
            }catch(e){}
        }
        adjustDisplayArea();
        window.onresize = function(){
            adjustDisplayArea();
            setTimeout('adjustDisplayArea();',300);
            setTimeout('adjustDisplayArea();',500);
            setTimeout('adjustDisplayArea();',1000);
        }        
    </script>
</apex:page>