<apex:component >

    <!--- CSS Resources --->
    
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/bootstrap/dist/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/metisMenu/dist/metisMenu.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/dist/css/timeline.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/dist/css/sb-admin-2.css')}"/>          
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/morrisjs/morris.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/font-awesome/css/font-awesome.min.css')}"/>       
      
    <!--- CSS Resources --->
    
    
    
    <!--- JScript Resources --->

    <!-- jQuery -->
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/jquery/dist/jquery.min.js')}"/>     
    <!-- Bootstrap Core JavaScript -->    
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/bootstrap/dist/js/bootstrap.min.js')}"/> 
    <!-- Metis Menu Plugin JavaScript -->        
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/metisMenu/dist/metisMenu.min.js')}"/>   
    <!-- Morris Charts JavaScript -->             
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/raphael/raphael-min.js')}"/>    
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/bower_components/morrisjs/morris.min.js')}"/>    
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/js/morris-data.js')}"/>    
    <!-- Custom Theme JavaScript -->
<apex:includeScript value="{!URLFOR($Resource.SBAdmin2, 'SB Admin 2/dist/js/sb-admin-2.js')}"/>    

    <!--- JScript Resources --->
    
    
</apex:component>